<div class="bg-doi-layer" aria-hidden="true"></div>
<div class="bg-orbs" aria-hidden="true">
  <div class="orb orb-1"></div>
  <div class="orb orb-2"></div>
  <div class="orb orb-3"></div>
</div>
<div class="bg-doi-ticker" aria-hidden="true">
  <div class="bg-doi-ticker__track">
    <span>https://doi.org/10.1000/182</span>
    <span>doi:10.1000/183</span>
    <span>https://doi.org/10.1000/184</span>
    <span>doi:10.1000/185</span>
    <span>https://doi.org/10.1000/186</span>
    <span>doi:10.1000/187</span>
    <span>https://doi.org/10.1000/188</span>
    <span>doi:10.1000/189</span>
    <span>https://doi.org/10.1000/190</span>
  </div>
</div>